html {
  font-size: 87.5%;
  font-family: var(--font-family);
}
@media (--breakpoint-md) {
  html {
    font-size: 100%;
  }
}
body {
  position: relative;
}
@media (--breakpoint-xl) {
  body {
    background-color: #eee;
  }
}

::-moz-selection { background: var(--selection-color); }
::selection { background: var(--selection-color); }

a {
  transition: color .4s;
  color: var(--link-color);
}
a:hover   { color: var(--link-hover); }
a:active  {
  transition: color .3s;
  color: var(--gray);
}
.link { text-decoration: none; }

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font-family);
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}
hr {
  margin-top: var(--space-3);
  margin-bottom: var(--space-3);
}

pre {
  overflow-x: auto;
  padding: var(--space-2);
  width: 100%;
  border: 1px solid var(--darken-1);
  background: var(--yellow-light);
  border-radius: 3px;
  white-space: pre;
  box-sizing: border-box;
}
code {
  padding: 2px;
  border: 1px solid var(--darken-1);
  background: var(--yellow-light);
  border-radius: 3px;
}
pre code {
  padding: 0;
  border: none;
  background: transparent;
}

blockquote {
  margin: var(--space-2);
  font-style: italic;
}
@media (--breakpoint-md) {
  blockquote {
    margin: var(--space-3);
    font-style: italic;
  }
}

input[type=text],
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=time],
input[type=url],
input[type=week],
textarea {
  border-style: solid;
  border-width: var(--border-width);
  border-color: var(--border-color);
  border-radius: var(--border-radius);
  transition: border-color .3s;
}
input[type=text]:focus,
input[type=date]:focus,
input[type=datetime]:focus,
input[type=datetime-local]:focus,
input[type=email]:focus,
input[type=month]:focus,
input[type=number]:focus,
input[type=password]:focus,
input[type=search]:focus,
input[type=tel]:focus,
input[type=time]:focus,
input[type=url]:focus,
input[type=week]:focus,
textarea:focus {
  outline: none;
  border-color: var(--field-focus-color);
}
textarea {
  resize: none;
}
input[type=search] {
  box-sizing: border-box;
}
input[type=button],
input[type=submit],
input[type=reset],
button {
  /* TODO */
}