.sidebar {
  text-align: right;
  background: #393e46;
  background-image: linear-gradient(45deg,#141B27,#393E46);
  color: #eee;
  padding: 1rem .5rem 2rem;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.site-footer {
  text-align: center;
  padding: .5em;
  font-size: .9rem;
  margin-top: 2rem;
  background: #eee;
}

.content {
  position: relative;
}

@media (--breakpoint-md) {
  .sidebar {
    position: fixed;
    width: 18rem;
    padding: 3rem 1rem;
    box-sizing: border-box;
    top: 0;
    bottom: 0;
    text-align: right;
  }
  .sidebar .page-title {
    border-bottom-width: 3px;
  }
  .content-area {
    margin-left: 18rem;
  }
}
@media (--breakpoint-lg) {
  .sidebar {
    width: 20rem;
    padding: 3rem 2rem;
  }
  .content-area ,
  .site-footer {
    margin-left: 20rem;
  }
}

.sidebar a:hover,
.sidebar a:focus {
  color: #eee;
}
.sidebar .page-title {
  font-size: 2em;
  font-weight: 500;
  margin: 0;
  padding-bottom: .5em;
  border-bottom: 1px solid var(--link-color);
}
.sidebar .page-title a {
  text-decoration: none;
  color: inherit;
}
.sidebar .page-title a:hover,
.sidebar .page-title a:focus {
  color: var(--link-color);
}
.sidebar .page-description {
  font-size: 1.2em;
  font-weight: 500;
  margin: 0 0 1em;
  padding: 1em 0;
  border-bottom: 1px solid var(--link-color);
}

.sidebar .social {
  color: #fff;
  margin-bottom: .5rem;
  display: flex;
  justify-content: center;
}
.sidebar .social a {
  margin-left: .5em;
  width: 2rem;
  height: 2rem;
}
@media (--breakpoint-md) {
  .sidebar .social a {
    flex: 1;
  }
}
.sidebar .social .icon {
  display: inline-block;
  width: 100%;
  height: 100%;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
.sidebar .course-promo {
  display: none;
}
@media (--breakpoint-md) {
  .sidebar .course-promo {
    display: block;
    margin-top: 3em;
    border: 1px solid #445;
    border-radius: 2px;
  }
  .sidebar .course-promo:hover,
  .sidebar .course-promo:focus {
    border-color: #2fad84;
  }
  .sidebar .course-promo img {
    width: 100%;
    display: block;
  }
}