/* BassCSS */
@import 'normalize.css';

/* Variables */
@import '_vars';

@import 'elements.css';
@import 'layout.css';
@import 'sidebar.css';
@import 'post-loop.css';
@import 'single-post.css';
@import 'pagination.css';

/*--------------------------------------------------------------
# Print
--------------------------------------------------------------*/
@media print {
  *,
  *:before,
  *:after,
  *:first-letter,
  p:first-line,
  div:first-line,
  blockquote:first-line,
  li:first-line {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  @page {
    size: auto;   /* auto is the initial value */
    /* this affects the margin in the printer settings */
    margin: 15mm 5mm 15mm 5mm;
  }

  a:link[href^="http://"]:after, a[href^="http://"]:visited:after { content: " (" attr(href) ") "; font-size: 90%; }

  body > *:not(.content-area) {
    display: none;
  }
  body {
    margin: 10mm 15mm;
  }
  .content-area,
  .post-content {
    margin: 0;
    padding: 0;
  }
  .post {
    box-shadow: none;
  }
  .read-next,
  .post-date,
  .tags-list-wrap,
  .post-footer {
    display: none;
  }
  .post {
    padding: 0;
    margin: 0;
    max-width: 100%;
  }

}
