/* BassCSS */
@import 'normalize.css';

/* Variables */
@import '_vars';

html {
  font-size: 87.5%;
  font-family: var(--font-family);
}
@media (--breakpoint-lg) {
  html {
    font-size: 100%;
  }
}
body {
  position: relative;
}

::-moz-selection { background: #fff9d6; }
::selection { background: #fff9d6; }

a {
  transition: color .4s;
  color: var(--link-color);
}
a:hover   { color: var(--gray); }
a:active  {
  transition: color .3s;
  color: var(--gray);
}
.link { text-decoration: none; }

ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}
hr {
  margin-top: var(--space-3);
  margin-bottom: var(--space-3);
}

pre {
  overflow-x: auto;
  padding: var(--space-2);
  width: 100%;
  border: 1px solid var(--darken-1);
  background: var(--yellow-light);
  border-radius: 3px;
  white-space: pre;
  box-sizing: border-box;
}
code {
  padding: 2px;
  border: 1px solid var(--darken-1);
  background: var(--yellow-light);
  border-radius: 3px;
}
pre code {
  padding: 0;
  border: none;
  background: transparent;
}

blockquote {
  margin: var(--space-3);
  font-style: italic;
}

input[type=text],
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=time],
input[type=url],
input[type=week],
textarea {
  border-style: solid;
  border-width: var(--border-width);
  border-color: var(--border-color);
  border-radius: var(--border-radius);
  transition: border-color .3s;
}
input[type=text]:focus,
input[type=date]:focus,
input[type=datetime]:focus,
input[type=datetime-local]:focus,
input[type=email]:focus,
input[type=month]:focus,
input[type=number]:focus,
input[type=password]:focus,
input[type=search]:focus,
input[type=tel]:focus,
input[type=time]:focus,
input[type=url]:focus,
input[type=week]:focus,
textarea:focus {
  outline: none;
  border-color: var(--field-focus-color);
}
textarea {
  resize: none;
}
input[type=search] {
  box-sizing: border-box;
}
input[type=button],
input[type=submit],
input[type=reset],
button {
  @extend .btn;
  @extend .btn-primary;
}


.icon-16 {
  width: 1rem;
  height: 1rem;
  display: inline-block;
}
.icon-16 img {
  height: inherit;
}

.blog-logo img {
  max-height: 16rem;
}
.sidebar {
  text-align: center;
  background: #393e46;
  background-image: linear-gradient(45deg,#141B27,#393E46);
  color: #eee;
  padding: 1rem .5rem 2rem;
  display: flex;
  flex-direction: column;
}
.sidebar a:hover,
.sidebar a:focus {
  color: #eee;
}
.sidebar .page-title {
  font-size: 2em;
  font-weight: 500;
  margin: 0;
  padding-bottom: .5em;
  border-bottom: 1px solid var(--link-color);
}
.sidebar .page-title a {
  text-decoration: none;
  color: inherit;
}
.sidebar .page-title a:hover,
.sidebar .page-title a:focus {
  color: var(--link-color);
}
.sidebar .page-description {
  font-size: 1.2em;
  font-weight: 500;
  margin: 0 0 1em;
  padding: 1em 0;
  border-bottom: 1px solid var(--link-color);
}
@media (--breakpoint-lg) {
  .sidebar {
    position: fixed;
    width: 20rem;
    padding: 3rem 2rem;
    box-sizing: border-box;
    top: 0;
    bottom: 0;
    text-align: right;
  }
  .sidebar .page-title {
    border-bottom-width: 3px;
  }
  .content-area {
    margin-left: 20rem;
  }
}
.sidebar .social {
  color: #fff;
}
.sidebar .course-promo {
  display: block;
  margin-top: 3em;
}
.sidebar .course-promo img {
  width: 100%;
  display: block;
}


.site-footer {
  text-align: center;
  background: var(--body-color);
  color: var(--light-white);
  padding: .5em;
}
@media (--breakpoint-lg-h) {
  .site-footer {
    font-size: .85em;
    background: none;
    position: fixed;
    width: 18rem;
    z-index: 2;
    left: 0;
    bottom: 2rem;
    margin: 0;
    padding: 0;
    text-align: right;
  }
}

.content {
  position: relative;
  background: #eee;
}
.posts {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 2rem;
}
.posts .post {
  box-sizing: border-box;
  flex: 1 0 100%;
  background: #fafafa;
  border-radius: 1em;
  overflow: hidden;
  padding: 0;
  margin: 0 2rem 2rem 0;
  background-image: linear-gradient(45deg,#195CA2,#76DFBD);
}

.posts a {
  color: #A5F0D7
}
.posts a:hover,
.posts a:focus {
  color: #DAFCF1
}
.posts .post .post-content {
  margin: 5rem 0 2rem;
  padding: 1rem;
  z-index: 2;
  background: rgba(57, 62, 70, .85);
  color: #fff;
}
.post {
  max-width: 55rem;
  margin: 0 1rem;
  padding: 2rem;
  position: relative;
  z-index: 2;
}
.posts .post-image + .post-content {
  margin-top: 16rem;
}
.post-full-image + .post {
  top: 30vh;
  background: #fff;
}
.post-title {
  margin: 0;
  font-size: 1.75rem;
}
.post-full-image {
  position: absolute;
  top: 0;
  left: 0;
  height: 40vh;
  width: 100%;
  margin: 0;
  background-size: cover;
  background-position: center;
}
.post--grid {
  width: 100%;
  max-width: 100%;
  padding-bottom: 2rem;
  opacity: 0;
}
@media (--breakpoint-sm) {
  .post--grid {
    width: 50%;
  }
}
@media (--breakpoint-lg) {
  .post--grid {
    width: 100%;
    max-width: 100%;
  }
}
@media (--breakpoint-xl) {
  .post--grid {
    width: 50%;
  }
}
@media (--breakpoint-xxl) {
  .post--grid {
    max-width: 33.333%;
  }
}

.post-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  z-index: -1;
}
.post-image a img {
  transition: opacity 0.4s;
}
.post-image a:hover img {
  opacity: 0.75;
}
.post-image img {
  display: block;
  width: 100%;
}
@media (--breakpoint-sm) {
  .post-content {
    font-size: 120%;
  }
}

.post-content {
  font-size: 110%;
}
@media (--breakpoint-sm) {
  .post-content {
    font-size: 120%;
  }
}
.post-content a {
  text-decoration: underline;
}

.subscribe {
  text-align: center;
  border: 1px solid rgba(0,0,0,.0625);
}
.subscribe .form-group {
  margin-bottom: 1rem;
  width: 100%;
}
.subscribe .subscribe-email {
  width: 100%;
}
@media (--breakpoint-sm) {
  .subscribe .form-group {
    margin-bottom: 0;
    width: 70%;
    float: left;
  }
  .subscribe .subscribe-email {
    border-radius: 4px 0 0 4px;
  }
  .subscribe form button {
    width: 30%;
    float: left;
    border-radius: 0 4px 4px 0;
  }
}

.read-next {
  max-width: 48rem;
}
.read-next-story a {
  color: var(--gray);
  background: transparent url('../../images/chevron-right.svg') 100% 50% no-repeat;
  background-size: 32px;
  min-height: 32px;
}
.read-next-story.prev a {
  background: transparent url('../../images/chevron-left.svg') 0 50% no-repeat;
  background-size: 32px;
}
.read-next-story a:hover {
  color: var(--black);
}

.author-thumb {
  width: 32px;
}
.author-image {
  width: 128px;
}
.author-location,
.author-link,
.author-stats {
  padding-left: 2rem;
}
.author-location {
  background: transparent url('../../images/earth.svg') 0% 50% no-repeat;
  background-size: 20px;
}
.author-link {
  background: transparent url('../../images/link.svg') 0% 50% no-repeat;
  background-size: 20px;
}
.author-stats {
  background: transparent url('../../images/file-text2.svg') 0% 50% no-repeat;
  background-size: 20px;
}

.nav-current {
  font-weight: 700;
}
.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav li a {
  display: block;
  padding: .5em 1em;
  color: var(--light-white);
  border-bottom: 1px dotted var(--link-color);
  text-decoration: none;
  font-size: 1.2rem;
  transition: all .3s;
}
.nav li a:hover,
.nav li a:focus {
  color: var(--body-color);
  background: var(--link-color);
}

.page-number {
  width: 50%;
  padding-top: 0.5rem;
}
.newer-posts img,
.older-posts img {
  width: 24px;
}
@media (--breakpoint-lg) {
  .newer-posts img,
  .older-posts img {
    width: 32px;
  }
}


/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; /* Above WP toolbar. */
}

/*--------------------------------------------------------------
# Print
--------------------------------------------------------------*/
@media print {
  *,
  *:before,
  *:after,
  *:first-letter,
  p:first-line,
  div:first-line,
  blockquote:first-line,
  li:first-line {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  @page {
    size: auto;   /* auto is the initial value */
    /* this affects the margin in the printer settings */
    margin: 15mm 5mm 15mm 5mm;
  }

  a:link[href^="http://"]:after, a[href^="http://"]:visited:after { content: " (" attr(href) ") "; font-size: 90%; }

  body > *:not(.content-area) {
    display: none;
  }
  body {
    margin: 10mm 15mm;
    background-color: #fff;
  }
  .content-area,
  .post-content {
    margin: 0;
    padding: 0;
  }
  .post {
    box-shadow: none;
  }
  .read-next,
  .post-date,
  .tags-list-wrap,
  .post-footer {
    display: none;
  }
  .post-meta {
    display: block;
  }
  .post {
    padding: 0;
    margin: 0;
    max-width: 100%;
  }

}
